.how__subtitle{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    vertical-align: middle;
    color: #757575;
}

.how__title{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    vertical-align: middle;
    color: #333333;
    margin-top: 20px;
}

.how__tick{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    gap: 20px;
    margin-bottom: 60px;
}

.how__item{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 28px;
    color: #4F4F4F;
}

.how__item::before{
    content: url('../static/images/tick.png') ;
    background-color: #05581C;
    padding: 8px 0px 0 0px;
    align-items: center;
    border-radius: 8px;
    margin-right: 5px;
}

.how__bottom{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    vertical-align: middle;
    color: #333333;
}

.spec{
    color: #118e35;
}

.info2__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.info2__item{
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.15);
    background-color: #ffff;
    padding: 30px 70px 30px 20px;
    border-radius: 12px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.info2__img{
    width: 70px;
    height: 70px;
}

.info2__title{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    vertical-align: middle;
    color: #363333;
}

.info2__subtitle{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    margin-top: 15px;

}

.who2{
    position: relative;
    background-color: #E0F0DA4D;
    margin-top: 100px;

}

.who2__content{
    width: 750px;
    padding: 100px 0 80px 0;
}

.who2__title{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 140%;
    vertical-align: middle;
    color: #333333;
}

.who2__subtitle{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 140%;
    vertical-align: middle;
    color: #586F5E;
    margin-top: 30px;
}

.who2__img{
    position: absolute;
    bottom: 0px;
    right: 100px;
}


.eligibility__title{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    vertical-align: middle;
    color: #333333;
}

.eligibility__description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;

}

.eligibility__desc-item{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    vertical-align: middle;
    color: #757575;
    margin-bottom: 40px;
    margin-top: 30px;
}

.eligibility__desc-item::before{
    content: url('../static/images/tick.png') ;
    background-color: #05581C;
    padding: 8px 0px 0 0px;
    align-items: center;
    border-radius: 8px;
    margin-right: 5px;
}

.eligibility__paragraph{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    vertical-align: middle;
    color: #565656;
    margin-bottom: 40px;
}

.eligibility__spec{
font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    vertical-align: middle;

}

.aging__title{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    vertical-align: middle;
    color: #333333;
    margin-bottom: 40px;
}

.aging__subtitle{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    vertical-align: middle;
    color: #757575;
    margin-bottom: 35px;
}

.aging__paragraph{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    color: #565656;
    margin-bottom: 20px;
}

.req__content{
    margin-bottom: 100px;
}

.req__title{
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #4F4F4F;
    margin-bottom: 20px;
}

.req__list{
    gap: 10px;
}

.req__list-title::before{
    content: "•";
    margin-right: 5px;
}

.req__list-title{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    color: #565656;
}


.include__title{
    font-family:  "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #4F4F4F;
    margin-bottom: 23px;
}

.include__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.include__list{
    gap: 5px;
}

.include__list-item{
    font-family:  "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    color: #565656;
}

.include__list-item::before{
    content: "•";
    margin-right: 5px;
}

.include__after{
    font-family:  "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    color: #565656;
}


