<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/faviocon-logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <title>Meals America</title>
</head>
<body>
    <header class="head">
        <div class="container">
            <div class="head__content">
                <img class="head__img" src="images/logo.png" alt="our logo">
                <div class="head__nav">
                    <button class="nav__item">About Us</button>
                    <button class="nav__item">How It Works</button>
                    <button class="nav__item">Menu</button>
                    <button class="nav__item">Contacts</button>
                </div>
                <button class="head__btn"><a href="#">GET STARTED</a> </button>
            </div>
        </div>
    </header>


    <main class="main">
        <section class="start">
            <span class="span__start"></span>
            <div class="container">
                <div class="start__description">
                    <h1 class="start__title">Free Meals delivered</h1>
                    <h2 class="start__subtitle">We provide healthy, balanced meals delivered to your doorstep!</h2>
                    <button class="btn__start white"><a href="#">How It Works</a></button>
                    <button class="btn__start green"><a href="#">Get Started</a></button>
                </div>

            </div>
            <img class="start__img" src="images/start-img.png" alt="grandparents">
        </section>

        <section class="info">
            <div class="container">
                <div class="info__content">
                    <div class="info__item">
                        <img class="info__img" src="images/info-flag.png" alt="#">
                        <div class="info__description">
                            <h2 class="info__title">AAA & State Governments</h2>
                            <h4 class="info__subtitle">Information for leaders in government or at Area Agencies on Aging.</h4>
                        </div>
                    </div>
                    <div class="info__item">
                        <img class="info__img" src="images/info-manager.png" alt="#">
                        <div class="info__description">
                            <h2 class="info__title">Case Managers</h2>
                            <h4 class="info__subtitle">Information for case managers who are looking for solutions for their clients or members.</h4>
                        </div>
                    </div>
                    <div class="info__item">
                        <img class="info__img" src="images/info-healthcare.png" alt="#">
                        <div class="info__description">
                            <h2 class="info__title">Individuals & Caregivers</h2>
                            <h4 class="info__subtitle">For self-pay customers managing a chronic disease, living independently, or caring.</h4>
                        </div>
                    </div>
                </div>
            </div>
                
        </section>
    </main>


    <footer class="footer">

    </footer>
</body>
</html>